@{
    Layout = null;  // Set path to layout page "~/Views/Shared/_Layout.cshtml"
    ViewBag.Title = "Comic Book Detail";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>@ViewBag.seriesTitle</h1>
        <h2>Issue # @ViewBag.issueNumber</h2>
        <h5>Description:</h5>
        <h5>@Html.Raw(ViewBag.description)</h5>
        @if(ViewBag.artists.Length > 0) {
            <h5>Artists:</h5>
            <div>
            <ul>
                @foreach (var artist in ViewBag.artists)
                {
                    <li>@artist</li>
                }
            </ul>
                    </div>
        }
    </div>
</body>
</html>
